<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis使用形式二：namespace+id定位接口名+接口方法名-->

<!--namespace定位接口路径名-->
<mapper namespace="com.mapper.AdminMapper">
    <!--id定位接口中的方法名, resultType指明映射关系-->
    <select id="selectAdmin" resultType="java.util.Map">
        select * from adminlogin
    </select>

    <!--parameterType的使用-->

<!--    接收单一值-->
    <select id="fecthAdminByID" resultType="java.util.Map" parameterType="java.lang.Integer">
        select * from adminlogin where id = #{id}
    </select>

<!--    接收多个值-->
    <select id="fecthAdminByConditions" resultType="java.util.Map">
        select * from adminlogin where username = #{uname} and password = #{upwd}
    </select>

<!--    接收Map-->
    <insert id="insertAdmin" parameterType="java.util.Map">
        insert into adminlogin values (#{adminid}, #{adminuser}, #{adminpwd}, #{adminname});
    </insert>

<!--    接收实体-->
    <insert id="insertPojo" parameterType="com.pojo.Admin">
        insert into adminlogin values (#{id}, #{username}, #{password}, #{name});
    </insert>

</mapper>
