<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CacheMapper">
    <select id="fetchStudents" resultType="java.util.Map">
        select * from studentinfo
    </select>
    <delete id="deleteStudentById">
        delete from studentinfo where stuid = #{stuid}
    </delete>
</mapper>